*{
    font-family: inherit;
}
.recipesSceneContainer {
    background-color: gold;
    justify-content: center;
    overflow: hidden;
}

.heading {
    text-align: center;
}
hr {
    height: 5px;
    border-radius: 10px;
    background-color: gold;
}
.recipeContainer {
    margin: 10px 5px;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* .equalColumnContent {
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 10px;
} */

.recipeInfoContainer {
   color: black;
   font-weight: bold;
   flex-direction: column;
}

.recipeImage {

    padding: 0;
    /*       */
    height: auto;
    width: inherit;
    padding-bottom: 2rem;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.recipeImage img:hover {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    transform: scale(1.2);
}
.recipeImage button {
    margin-top: 2rem;
}

.recipeHeading {
    text-align: center;
}

.ingredientList {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.carbsContainer {
    margin-top: 1rem;
    background-color: yellow;
    border-radius: 10px;
}
.proteinContainer {
    background-color: green;
    border-radius: 10px;
}
.fatContainer {
    background-color: red;
    border-radius: 10px;
}
span {
    color:rgb(4, 117, 223);
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

.nutrientsContainer {
    margin-bottom: 2rem;
}

.nutrientsInfoContainer {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ingridientsContainer {
    margin-bottom: 2rem;
}

.healthLabels {
    color: rgb(0, 122, 0);
    word-break: break-all;
}

